<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-heading"><%= t(".heading") %></h2>
  <%= f.input :name, autofocus: true, required: true, hint: true %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p><%= t(".confirmation_pending", email: resource.unconfirmed_email) %></p>
  <% end %>
  <%= f.input :email, required: true, hint: true %>
  <%= f.input :password, required: false, hint: true %>
  <%= f.input :password_confirmation, required: false %>
  <%= f.input :current_password, required: true, hint: true %>
  <%= f.submit %>
<% end %>
<form>
  <h3 class="form-heading"><%= t(".delete.heading") %></h3>
  <%= link_to t(".delete.submit"), registration_path(resource_name), data: { confirm: t(".delete.confirmation") }, method: :delete %>
</form>
