.user-info
  %h3
    = gravatar_for(@user)
    = @user.name
  - if @user.admin?
    %span.admin-tag= t("admin")
.user-profile
  %h3= Character.model_name.human.pluralize
  .user-characters
    = render collection: @user.characters, partial: "characters/card", as: :character
