-# TODO dropdowns
%header.nav{ role: "banner" }
  .container
    %nav{ role: "navigation" }
      %ul.navbar
        = nav_link_to t("paths.home"), home_path
        = nav_link_to t("paths.about"), about_path
        = nav_link_to t("paths.contact"), "/contact"
      %ul.navbar.navbar-right
        = nav_link_to t("paths.users"), users_path
        -# TODO dropdown for sign in
        - if user_signed_in?
          = nav_link_to t("paths.user"), current_user
          = nav_link_to t("paths.destroy_user_session"), destroy_user_session_path, method: :delete
        - else
          = nav_link_to t("paths.new_user_session"), new_user_session_path
