%nav.navbar{ role: "navigation" }
  .navbar-container
    = link_to "javascript:void(0)", class: "navbar-menu-button", "aria-label": t(".navbar_menu_button_label") do
      = icon "bars"
    %ul.navbar-toggle.show
      = active_link_to t("paths.home"), home_path, wrap_tag: :li, active: [["home"], ["index"]]
      = active_link_to t("paths.about"), about_path, wrap_tag: :li
      = active_link_to t("paths.contact"), "/contact", wrap_tag: :li
      %ul.navbar-right
        = active_link_to t("paths.users"), users_path, wrap_tag: :li, active: :exact
        - if user_signed_in?
          %li.more
            = link_to current_user, "javascript:void(0)"
            %ul.submenu
              = active_link_to t("paths.user"), current_user, wrap_tag: :li
              = active_link_to t("paths.edit_user_registration"), edit_user_registration_path, wrap_tag: :li
              - if current_user.admin?
                %li.separator
                %li= link_to t("paths.sidekiq_web"), sidekiq_web_path
                %li= link_to t("paths.pg_hero"), pg_hero_path
              %li.separator
              %li= link_to t("paths.destroy_user_session"), destroy_user_session_path, method: :delete
        - else
          = active_link_to t("paths.new_user_session"), new_user_session_path, wrap_tag: :li
