<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flashes" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
